*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Inter';
}
.navbar{
    margin:20px;
    display:flex ;
    align-items: center;
    justify-content: space-around;
    
    
}

.navbar .menu ul{
     display: flex;
     list-style: none;
     gap:20px;
     
}


.navbar .menu ul li a{
    text-decoration: none;
    color:#161616;
    font-weight: 400px;
}

.navbar .early-access-button button{
    background-color: #30B868;
    border-radius: 4px;
    color:white;
    padding:12.56px 12.56px;
    border:none;
    cursor:pointer;
    font-weight:600px;
    font-size:16px;

}
.navbar .early-access-button button:hover{
    background-color: rgb(96, 39, 240);
}

.hero-content{
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    min-height:674px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
}

.hero-content .early  {
    background-color: white;
    border-radius:1000px;
    border:none;
    
    text-align: center;
    gap:5px;
    max-width:229px ;
    max-height:35px;

    margin:20px;
    padding:10px;
    justify-content: space-between;

    align-items: center;
    display:flex;

}

.hero-content .early p{
  color:#30B868;
  font-size: 14px;
  margin:0;
}

.hero-content .early span{
  
    width:15px;
    height:15px;
    background-color: #30B868;
    border-radius: 8px;
    
    position:relative;
   
}

.hero-content .early span::before{
    content:"";
    position: absolute;
    inset:-6px;
    border-radius: 8px;
    background-color: rgba(48, 184, 104, 0.45);
}

.hero-content .early span::after{
    content:"";
    position: absolute;
    inset:-8px;
    border-radius: 8px;
    background-color: rgba(48, 184, 104, 0.18);
}

.inside-heading{
    font-size: 36px;
    font-weight: 700;
}
.inside-heading h1{
    color: white;
}
.inside-heading span{
    color:#30B868;
}

.inside-para p{
  color:white;
  font-size: 18px;
  line-height: 24px;
}

.hero-buttons{
    margin-top:20px;
    display: flex;
    gap:10px;
    justify-content: space-between;
}

.vaultbutton{
    background-color: #30B868;
    color:white;
    padding:0;
    margin:0 auto;

    max-width: 251px;
    height: 52px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    font-size: 19px;
}

.vaultbutton img{

    width:20px;
    height: 20px;
    
}

.workbutton{
    gap:2px;
    background: transparent;
    color:white;
    width:158px;
    height:52px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding:5px;

}

.banner-heading{
    max-width:1360px;
    max-height:152px;
    padding:25px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}

.banner-heading h1 {
    font-weight: bold;
    font-size: 48px;
    color:#001931;
}

.banner-heading p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;
}


.note-card{
    padding:0;
    display:flex;
   padding: 44px 120px;
   justify-content: center; 
    gap:24px;
    margin:50px auto;
}
 .card img{
    width:60px; height:60px;
    border-radius: 50%;
    padding:12px;
    background-color: #F95555;
}
.card{
    gap:24px;
    padding:24px;
    text-align: center;
   border-radius: 8px;
    width:322px;
    margin:0 auto;
     box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    


}
 .card h2{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    line-height: auto;
 }

 .card p{

    font-size: 16px;
    color:#627382;
    line-height: 20px;
 }

 .knowledge-container{
    margin: 0 auto;
    padding:20px 10px;
    gap:60px;
    display: flex;
    justify-content: center;
    
 }

 .knowledge-vault-content{
    padding-top:12px;
    margin: auto 0;
    
 }

 .knowledge-vault-content h3{
    padding-top: 16px;
    color: #30B868;
    font-size:16px ;
    font-weight: 300;
    list-style: 20px;
 }

 .knowledge-vault-content h1{
     padding-top: 16px;
    color:#001931;
    font-size:48px ;
    font-weight: bold;
    line-height: auto;
 }
 .knowledge-vault-content p{
     padding-top: 16px;
    color:#627382;
    font-size:20px ;
    
    line-height:20px ;
 }
.checklist{
     padding-top: 16px;
    color:#627382;
    font-size:16px ;
    font-weight: 400;
    gap:6px;
    line-height:20px ;
 }

 .challenge1{
    padding: 0 auto;
    width:auto;
    margin: auto 80px;
    display: flex;
    
    

 }

 .headingpart{
    background-color: #F7F6F2;
    border-radius: 12px;
    width:1360px;
    height: 384px;
     text-align: center;
    padding: 10px 10px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto 20px;

    
 }
 .headingpart h1 {
    font-size: 48px;
    font-weight: bold;
    padding-top:30px;
    gap:5px;

 }
 .headingpart p {
    padding-top: 5px;
    margin: 0 auto;
    font-size: 16px;
    color:#627382;


      max-width: 600px;



 }
 

 .buttonpart{
background-color: #30B868;
font-size: 16px;
font-weight:700 ;
color: white;
align-items: center;
justify-content: center;
border:none;
border-radius: 4px;

width:192px;
height:50px;
padding:8px 8px;
margin:0 auto;
 }
 
.extra-info{
    margin-top:10px;
    display:flex;
    gap:8px;
    font-size:14px;
    color: #627382;
}

#footer{
    background-color: #362323;
    height: 384px;
    margin: auto 0;

}
.social-links{
    max-width: 1260px;
    height:auto;
    margin:   0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    gap:800px;
    padding: 40px 40px;
}
.icons{

    justify-content: center;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    font-weight: 300;
    gap:16px;
}
.footer-divider{
    width: 70%;
    height: 1px;
    background-color: rgba(23, 235, 30, 0.15);
    margin: 0 auto;
}
.copyright{
    
    margin: auto 0;
    padding:24px 0;
    text-align: center;
    height:54px;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    color:#eaf1f7;
    font-weight: 300;

}

* button:hover{
    background-color: rgb(96, 39, 240);
}