nav{
    background-color: white;
}
.nav-container{
   display :flex;
   justify-content: space-around   ;
}
.menu{
    width:365px;
    line-height: 24px;
     gap:32px;
}
.menu ul{
    list-style-type: none;
    
}
.menu ul li{
        text-decoration: none;
        display:inline;
       
}
.menu ul li a{
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    
}


.nav-container button{
    margin:24px 120px 24px 630px;
    color:white;
    background-color: #30B868;
    width:164px;
    line-height: 44px;
    border-radius: 4px;
}